@page
@model HelpDesk.Pages.Repairs.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Repair</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Repair[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Repair[0].Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Repair[0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Repair[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Repair[0].Repair_ReportID.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].EmployeeName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Repair) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Repair_ReportID.Title)
            </td>
            <td>
                @Html.DisplayFor(model => model.Employee[item.Repair_EmployeeID - 1].FirstName)
                @Html.DisplayFor(model => model.Employee[item.Repair_EmployeeID - 1].LastName)

            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.RepairID">Manage</a> |
                <a asp-page="./Details" asp-route-id="@item.RepairID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.RepairID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
